name: test_main

on:
  workflow_call:
    inputs:
      ruby:
        required: true
        type: string
      rubyopt:
        required: false
        type: string
        default: ""
      skip_http_request_test:
        required: true
        type: string
    secrets:
      SLACK_WEBHOOK:
        required: true

jobs:
  unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby }}
          bundler-cache: true
          bundler: default

      - run: bundle update

      - run: bundle exec rake spec:unit
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - name: Slack Notification (not success)
        uses: lazy-actions/slatify@master
        if: "! success()"
        continue-on-error: true
        with:
          job_name: ${{ format('*unit* ({0},{1})', inputs.ruby, inputs.rubyopt) }}
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}

  integration-docker:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        image:
          - ubuntu:trusty

    env:
      TEST_IMAGE: ${{ matrix.image }}
      SKIP_HTTP_REQUEST_TEST: ${{ inputs.skip_http_request_test }}

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby }}
          bundler-cache: true
          bundler: default

      - run: bundle update

      - run: bundle exec rake spec:integration:docker:boot
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - run: bundle exec rake spec:integration:docker:provision
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

          # FIXME: avoid error for "Command `chmod 777 /tmp/itamae_tmp` failed. (exit status: 1)"
          ITAMAE_TMP_DIR: /var/tmp/itamae_tmp

      - run: bundle exec rake spec:integration:docker:serverspec
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - run: bundle exec rake spec:integration:docker:clean_docker_container
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - name: Slack Notification (not success)
        uses: lazy-actions/slatify@master
        if: "! success()"
        continue-on-error: true
        with:
          job_name: ${{ format('*integration-docker* ({0},{1},{2})', inputs.ruby, inputs.rubyopt, matrix.image) }}
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}

  integration-local:
    runs-on: ubuntu-latest

    # NOTE: When ruby is 2.5, tests run on buster. But buster is already EOL and didn't work apt-get
    if: ${{ inputs.ruby >= '2.6' }}

    env:
      SKIP_HTTP_REQUEST_TEST: ${{ inputs.skip_http_request_test }}

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby }}
          bundler-cache: true
          bundler: default

      - run: bundle update

      - run: bundle exec rake spec:integration:local:main
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - run: bundle exec rake spec:integration:local:ordinary_user
        env:
          RUBYOPT: ${{ inputs.rubyopt }}

      - name: Slack Notification (not success)
        uses: lazy-actions/slatify@master
        if: "! success()"
        continue-on-error: true
        with:
          job_name: ${{ format('*integration-local* ({0},{1})', inputs.ruby, inputs.rubyopt) }}
          type: ${{ job.status }}
          icon_emoji: ":octocat:"
          url: ${{ secrets.SLACK_WEBHOOK }}
          token: ${{ secrets.GITHUB_TOKEN }}
